.xWFont-size-25px {
    font-size: 25px !important
}

.xWFont-size-30px {
    font-size: 30px !important
}

.xWFont-size-35px {
    font-size: 35px !important
}

.xWFont-size-40px {
    font-size: 40px !important
}